/* Scoped styles for Dashboard component */
.dashboard-container {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  margin-top: 60px; /* Top margin for navbar */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Greeting Section */
.dashboard-greeting {
  font-size: 1.5rem;
  margin-bottom: 20px;
  width: 100%;
  max-width: 250px;
}

.dashboard-greeting h1 {
  margin: 0;
  font-weight: bold;
  color: black;
}

.username {
  margin-top: 5px;
}

/* No Pets Section */
.no-pets-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.dog-image {
  width: 250px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.no-pets-info {
  margin-top: 15px;
}

.add-pet-button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-pet-button:hover {
  background-color: #0056b3;
}

/* Pets View Section */
.pets-view {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.pet-card {
  background: linear-gradient(to bottom right, #087cfc, #5faaff); /* Gradient from #087cfc to a lighter blue */
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  flex: 1;
  max-width: 400px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pet-card .pet-text {
  color: rgb(255, 255, 255);
  margin-right: 15px; /* Space between text and image */
}

.pet-card .pet-image {
  border-radius: 100px;
  width: 150px; /* Adjust size of image */
  height: 150px;
  object-fit: cover; /* Keep the aspect ratio of the image */
}

.pet-card:hover {
  transform: translateY(-5px);
}

/* Navigation Section */
.pet-navigation {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.nav-button {
  margin: 0 10px;
  padding: 10px 15px;
  background-color: #6c757d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-button:hover {
  background-color: #5a6268;
}


/* Responsive Design */
@media (max-width: 768px) {
  .pet-card {
    flex-direction: column; /* Stack the content vertically on smaller screens */
    align-items: center;
  }

  .pet-card .pet-text {
    margin-right: 0; /* Remove margin on smaller screens */
  }

  .pet-card .pet-image {
    margin-top: 10px; /* Add spacing between image and text */
  }
}
